<select name="hours-start" class="hours-start">
  <option value="1">1:00</option>
  <option value="2">2:00</option>
  <option value="3">3:00</option>
  <option value="4">4:00</option>
  <option value="5">5:00</option>
  <option value="6">6:00</option>
  <option value="7">7:00</option>
  <option value="8">8:00</option>
  <option value="9">9:00</option>
  <option value="10">10:00</option>
  <option value="11">11:00</option>
  <option value="0">12:00</option>
</select>
<select name="hours-start-tod" class="hours-start-tod">
  <option value="am">AM</option>
  <option value="pm">PM</option>
</select>
<p>-</p>
<select name="hours-end" class="hours-end">
  <option value="1">1:00</option>
  <option value="2">2:00</option>
  <option value="3">3:00</option>
  <option value="4">4:00</option>
  <option value="5">5:00</option>
  <option value="6">6:00</option>
  <option value="7">7:00</option>
  <option value="8">8:00</option>
  <option value="9">9:00</option>
  <option value="10">10:00</option>
  <option value="11">11:00</option>
  <option value="0">12:00</option>
</select>
<select name="hours-end-tod" class="hours-end-tod">
  <option value="am">AM</option>
  <option value="pm">PM</option>
</select>
