<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
  </head>
  <body>
    <%- include('includes/header') %>

    <div class="container mt-5">
      <div class="text-center">
        <h2><%= message %></h2>
        <a href="/" class="btn mt-3" style="background-color: #125200; color: white">Home</a>
      </div>
    </div>

    <%- include('includes/footer') %>
  </body>
</html>
