<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>

    <!-- <script src="/scripts/priceBar.js" defer></script> -->
  </head>
  <body>
    <%- include('includes/header') %>

    <div class="container mt-5 w-25" id="description-body">
      <h2>Contact Us</h2>
      <p>Message me about anything</p>
      <form action="/contact" method="POST">
        <%- include('includes/token') %>
        <div class="form-group">
          <div class="w-50">
            <label for="subject">Subject</label>
            <input type="text" class="form-control" name="subject" maxlength="50" />
          </div>

          <label for="message">Message</label>
          <textarea class="form-control" name="message" rows="6" maxlength="500" required></textarea>
        </div>
        <button type="submit" class="btn" style="background-color: #68a357; color: white">Send</button>
      </form>
    </div>

    <%- include('includes/footer') %>
  </body>
</html>
