<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
  </head>
  <body>
    <%- include('includes/header') %>

    <h2>Error: <%=message%></h2>
    <a href="/">Home</a>

    <%- include('includes/footer') %>
  </body>
</html>
